html {
  margin: 0;
  padding: 0;
  font-size: 11pt;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
body {
  margin: 0;
  padding: 0;
  background: rgb(204, 204, 204);
}
* {
  box-sizing: border-box;
}

$blue: #0055cc;
$gray: #fafbfc;
$blue-icon: #344563;

svg.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  color: $blue-icon;
}

article {
  margin: 0.5cm auto;
  background: white;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.2);

  width: 21cm;
  min-height: 29.7cm;

  display: flex;
  justify-content: stretch;

  time {
    font-weight: lighter;
  }
  address {
    font-size: 0.9rem;
  }
  h1 {
    color: $blue;
    font-size: 1.2rem;
    sup {
      font-size: 1rem;
      color: black;
      font-weight: normal;
    }
  }
  h2 {
    color: $blue;
    font-size: 1.5rem;
    font-weight: lighter;
  }
  ul {
    list-style-type: none;
    padding-inline: 0;
    li {
      padding: 0.1em 0;

      small {
        display: block;
        float: right;
        display: flex;
        padding-top: 0.3em;
      }
    }
  }
  dt {
    span {
      float: right;
    }
  }
  dd {
    font-weight: lighter;
  }
  aside {
    width: 6.1cm;
    background-color: $gray;
    padding: 4rem;
    padding-right: 2em;
  }
  main {
    flex: 1;
    padding: 4rem;
    padding-left: 2em;
  }
}

article[lang="zh"] {
  line-height: 1.5em;

  h1 {
    font-size: 2rem;
    sup {
      font-size: 1.4rem;
      vertical-align: sub;
    }
  }
}

@media print {
  article {
    margin: 0;
    box-shadow: none;
    background: red;
    page-break-inside: avoid;
    page-break-after: always;
  }
  @page {
    size: A4;
    margin: 0;
  }
  // When printing double-sided documents
  @page :left {
    margin: 0;
  }
  @page :right {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  article {
    width: auto;
    flex-direction: column;

    aside {
      width: auto;
      padding: 2rem;
    }

    main {
      padding: 2rem;
    }
  }
}
